
body {

    font-size: 15px;
    background-image: url("dust_scratches.png");
    height: 100px;
    position: relative;
    border:0;
}

.text{
    margin-top:150px;
    border-style: inset;
    border-left: 6px;
    border-radius: 5px;
    
}

.connect {
    float: right;
    top: 0;
    margin-top: 10px;
    position: relative;
}
.fixed-bottom{
    text-align: center;
    border-style: inset;
    border-left: 6px;
    border-radius: 5px;
    background-color:gray;
    
    }

.title{
    background-color: teal;
}
