.text{
    margin-top:100px;
    border-style: inset;
    border-left: 6px;
    border-radius: 5px;
    margin-bottom:100px;
    
}

.fixed-bottom{
    text-align: center;
    border-style: inset;
    border-left: 6px;
    border-radius: 5px;
}
body {

    font-size: 15px;
    background-image: url("dust_scratches.png");
    height: 100px;
    position: relative;
    border:0;
}